/* style {
    display: none !important;
} */
.rm199_frontend_title {
    /* color: blue; */
}

.mt-2 {
    margin-top: 5px;
}
.mt-3 {
    margin-top: 10px;
}
.rm199__keyword {
    padding: 5px 10px;
    background: #0073aa;
    border-radius: 5px;
    color: #fff;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: fit-content;
    display: inline-block;

    margin-right: 10px;
    margin-bottom: 10px !important;
    position: relative;
    padding: 0 10px;
    padding-right: 40px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    cursor: default;
}
/* .rm199__keyword:hover {
    background: #036696;
} */
.rm199__keyword .dashicons {
    /* background: #036696; */
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.rm199__keyword .dashicons:hover {
    background: #dc3545;
}
.rm199__keywords {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.rm199__keywords__title {
    margin-right: 20px;
    text-transform: capitalize;
}

.text-decoration-none{
    text-decoration: none !important;
}

/* start the structured template */


.all_recommendations{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.article {
    background: #FFF;
    margin: 0 0 20px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 2px 4px  rgba(0,0,0,.2);
    cursor: pointer;
    max-width: 300px;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    overflow: hidden;
}

.article:hover {
    box-shadow: 0 2px 4px  rgba(0,0,0,.2),
    0 4px 8px  rgba(0,0,0,.2);
}

    .article:active {
    box-shadow: none;
    transform-origin: center;
    transform: scale(0.98);
}

.article figure {
    position: relative;
}

.article figure figcaption {
    position: absolute;
    bottom: 10px;
}

.article  img{
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

    .article__category {
    display: inline-block;
    background: #212121;
    padding: 8px 10px;
    margin: 0 0 10px;
    color: #FFF;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.article__category:hover{
    box-shadow: 0 2px 4px  rgba(0,0,0,.2),
    0 4px 8px  rgba(0,0,0,.2);}
.article__category a{
    color:#fff !important;
    text-decoration: none !important;
}
    .article__date {}

    .article__excerpt {
    color: #666;
    line-height: 1.5rem;
    font-size: 0.875rem;
}

    .article__title {
    margin: 0 0 10px;
    color: #444;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
}